<h1>Listing tables</h1>

<table>
  <tr>
    <th>Pg</th>
    <th>Pg group cd</th>
    <th>Pg group desc</th>
    <th>Pg create from</th>
    <th>Pg create date</th>
    <th>Pg create by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tables.each do |table| %>
  <tr>
    <td><%= table.pg_id %></td>
    <td><%= table.pg_group_cd %></td>
    <td><%= table.pg_group_desc %></td>
    <td><%= table.pg_create_from %></td>
    <td><%= table.pg_create_date %></td>
    <td><%= table.pg_create_by %></td>
    <td><%= link_to 'Show', table %></td>
    <td><%= link_to 'Edit', edit_table_path(table) %></td>
    <td><%= link_to 'Destroy', table, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Table', new_table_path %>
